$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$color-text: red;
$white: white;

* {
	padding: 0px;
	margin: 0px;
}
body {
	font-size: 14px;
}
.wrapper {
	padding: 10px;
}
.hello {
	color: $color-text;
}
