/*!
 * Scss for nguyen dat
 */
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$red: red;
$white: white;

* {
	padding: 0px;
	margin: 0px;
}
body {
	font-size: 14px;
}
.wrapper {
	padding: 10px;
}
.red {
	color: $red;
}
.green { color: green; }
.no-name { color: blue; }
